extends ../layout/main

block content
    main.page__main

        // Header
        include ../modules/_header
        // Header end

        // Hero         
        section.sect.hero
            article.container
                .hero__main
                    h1.hero__title 
                        | We Design to impress.
                        | Guaranteed.
        // Hero end

        // Feature 
        section.sect.feat
            article.container
                .feat__row
            
                    // Feature col-1
                    .feat__col
                        h3.sect__title.feat__title Bold <span>Minimalistic Design</span>.
                        p
                            | Vestibulum taciti voluptates, inventore suspendisse! Luctus. 
                            | Fames quam nunc iste deleniti alias! Lobortis, elementum, 
                            | nunc alias? Erat! Placerat varius class, magnis soluta nascetur? 
                            | Minim, risus praesentium aenean consequat massa reiciendis.
                    // Feature col-1 end

                    // Feature col-2
                    .feat__col
                        h3.sect__title.feat__title Simple <span>Effective Theme</span>.
                        p
                            | Vestibulum taciti voluptates, inventore suspendisse! Luctus. 
                            | Fames quam nunc iste deleniti alias! Lobortis, elementum, 
                            | nunc alias? Erat! Placerat varius class, magnis soluta nascetur? 
                            | Minim, risus praesentium aenean consequat massa reiciendis.
                    // Feature col-2 end

                    // Feature col-3
                    .feat__col
                        h3.sect__title.feat__title Customize <span>Theme to Your Liking</span>.
                        p
                            | Vestibulum taciti voluptates, inventore suspendisse! Luctus. 
                            | Fames quam nunc iste deleniti alias! Lobortis, elementum, 
                            | nunc alias? Erat! Placerat varius class, magnis soluta nascetur? 
                            | Minim, risus praesentium aenean consequat massa reiciendis.
                    // Feature col-3 end
        
        // Feature end

        // Portfolio
        section.sect.port
            article.container
                h2.sect__title.port__title Portfolio <span>Items</span>.

                ul.port__list
                    
                    li.port__item
                        img(src="images/content/portfolio/dance.png", alt="port preview")
                        .port__hover
                            .port__desc
                                .port__pic    
                                    img(src="images/content/portfolio/plus.png", alt="cross pic")
                                a(href="javascript:void(0);").sect__title.port__name Brochure
                    li.port__item
                        img(src="images/content/portfolio/switch.png", alt="port preview")
                        .port__hover
                            .port__desc
                                .port__pic    
                                    img(src="images/content/portfolio/plus.png", alt="cross pic")
                                a(href="javascript:void(0);").sect__title.port__name Brochure
                    li.port__item
                        img(src="images/content/portfolio/smile.png", alt="port preview")
                        .port__hover
                            .port__desc
                                .port__pic    
                                    img(src="images/content/portfolio/plus.png", alt="cross pic")
                                a(href="javascript:void(0);").sect__title.port__name Brochure
                    li.port__item
                        img(src="images/content/portfolio/social.png", alt="port preview")
                        .port__hover
                            .port__desc
                                .port__pic    
                                    img(src="images/content/portfolio/plus.png", alt="cross pic")
                                a(href="javascript:void(0);").sect__title.port__name Brochure
                        
        // Portfolio end

        // Posts
        section.sect.posts
            article.container
                h2.sect__title.posts__title Recent <span>Posts</span>.

                .posts__row

                    // Posts col-1 
                    .posts__col 
                        .posts__cont
                            h3 Blog Post Title Goes Here
                            p
                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                | Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
                                | Suspendisse ur na nibh, viverra non, semper suscipit, posuere a, pede. 
                                | Illo nunc voluptate, eleifend aptent illum nihil atque occaecati nos tra 
                                | possimus harum dolorem scelerisque nibh asperiores eu m ut, 
                                | quo blandit temporibus auctor possimus suspendisse, varius. Voluptatibus 
                        a(href="javascript:void(0);").posts__more Read More ...
                    // Posts col-1 end

                    // Posts col-2 
                    .posts__col 
                        .posts__cont
                            h3 Blog Post Title Goes Here
                            p
                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                | Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
                                | Suspendisse ur na nibh, viverra non, semper suscipit, posuere a, pede. 
                                | Illo nunc voluptate, eleifend aptent illum nihil atque occaecati nos tra 
                                | possimus harum dolorem scelerisque nibh asperiores eu m ut, 
                                | quo blandit temporibus auctor possimus suspendisse, varius. Voluptatibus 
                        a(href="javascript:void(0);").posts__more Read More ...
                    // Posts col-2 end

                    // Posts col-3 
                    .posts__col 
                        .posts__cont
                            h3 Blog Post Title Goes Here
                            p
                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                | Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
                                | Suspendisse ur na nibh, viverra non, semper suscipit, posuere a, pede. 
                                | Illo nunc voluptate, eleifend aptent illum nihil atque occaecati nos tra 
                                | possimus harum dolorem scelerisque nibh asperiores eu m ut, 
                                | quo blandit temporibus auctor possimus suspendisse, varius. Voluptatibus 
                        a(href="javascript:void(0);").posts__more Read More ...
                    // Posts col-3 end

                    // Posts col-4 
                    .posts__col 
                        .posts__cont
                            h3 Blog Post Title Goes Here
                            p
                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                | Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
                                | Suspendisse ur na nibh, viverra non, semper suscipit, posuere a, pede. 
                                | Illo nunc voluptate, eleifend aptent illum nihil atque occaecati nos tra 
                                | possimus harum dolorem scelerisque nibh asperiores eu m ut, 
                                | quo blandit temporibus auctor possimus suspendisse, varius. Voluptatibus 
                        a(href="javascript:void(0);").posts__more Read More ...
                    // Posts col-4 end
        // Posts end

        // Section footer > Tag footer.copy
        section.sect.footer
            article.container
                .footer__row

                    // Footer col-1
                    .footer__col
                        h3 About bold theme
                        p 
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                            | Donec odio. Quisque volutpat mattis eros. 
                            | Nullam malesuada erat ut turpis. Suspendisse ur na nibh, 
                            | viverra non, semper suscipit, posuere a, pede.
                    // Footer col-1 end
                    
                    // Footer col-2
                    .footer__col
                        h3 Stay connected
                        p
                            | Stay connected with us via facebook, 
                            | twitter, rss, and email to hear the latest news.
                        ul.footer__social
                            li
                                a(href="javascript:void(0);")
                                    img(src="images/content/footer/facebook2.png", alt="facebook pic")
                            li
                                a(href="javascript:void(0);")
                                    img(src="images/content/footer/twitter2.png", alt="twitter pic")
                            li
                                a(href="javascript:void(0);")
                                    img(src="images/content/footer/rss.png", alt="rss pic")
                            li
                                a(href="javascript:void(0);")
                                    img(src="images/content/footer/email.png", alt="email pic")
                    // Footer col-2 end
                    
                    // Footer col-3
                    .footer__col
                        h3 Sign up for newsletter
                        p 
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                            | Donec odio. Quisque volutpat mattis eros. 
                            | Nullam malesuada erat ut turpis. 
                        form.form#form(action="action.php", method="post")
                            input(type="text", name="email").form__input
                            button(type="submit").form__btn.btn__submit <span>Sign up</span>
                    // Footer col-3 end

                include ../modules/_footer
        // Section footer end