@font-face
    font-family bebas
    src url( 'fonts/bebas___-webfont.woff' ),
        url( 'fonts/bebas___-webfont.woff2' ) 

@font-face
    font-family arialregular
    src url( 'fonts/arialregular-webfont.woff' ),
        url( 'fonts/arialregular-webfont.woff2' ) 

@font-face
    font-family novecentosansbold
    src url( 'fonts/novecentosanswide-bold-webfont.woff' ),
        url( 'fonts/novecentosanswide-bold-webfont.woff2' ) 

@font-face
    font-family novecentosansbook
    src url( 'fonts/novecentosanswide-book-webfont.woff' ),
        url( 'fonts/novecentosanswide-book-webfont.woff2' ) 