// Colors 
primaryBlack = #2e2e2e
primaryGrey = #b2b2b2
baseFontColor = primaryBlack
// Colors end

// Fonts
mainTitle = bebas
fontSectTitle = novecentosansbold
fontBase = arialregular
fontBaseBold = arialbold
fontSectTitleOther = novecentosansbook
// Fonts end