doctype html

html
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, viewport-fit=cover")
        title 
            block title
        meta(name="description", content="Quotes landing page free templates")
        link(rel="stylesheet", href="all.libs.min.css")
        link(rel="stylesheet", href="styles.min.css")
body.page
    block content    

    script(src="all.libs.min.js")
    script(src="main.min.js")