.copy__row
    borderTop() 
.copy__col
    padding: 1.41666667em 0 // 17px 0px
    font-size: .75em // 12px
.copy__left
    float: left
.copy__right
    float: right
    span 
        font-family: fontBaseBold