header 
    margin-bottom: 18px
.header__row
    padding: 25px 0 15px 0
    clearfix()
.header__left
    float: left
.header__right
    float: right
.header__search
    width: 187px
    padding: 5px 0
    background-color: #fff
    border: 1px solid primaryGrey
    white-space: nowrap
    input 
        width: 81%
        padding-left: 5px
        border: none
        outline: none
    img 
        margin-left: 9px
        vertical-align: middle