header
    position: absolute
    top: 0
    left: 0
    z-index: 99999
    width: 100%
.header__row
    padding: 1.5625em 0 .9375em 0 //25px 0 15px 0
    clearfix()
.header__left
    float: left
.header__right
    float: right
.header__search
    width: 11.6875em //187px
    padding: .3125em 0 //5px 0
    background-color: #fff
    border: .0625em solid primaryGrey // 1px
    white-space: nowrap
    input 
        width: 81%
        padding-left: .3125em //5px
        border: none
        outline: none
        @media screen and (max-width: 375px)
            width: 77%
    img 
        margin-left: .5625em //9px
        vertical-align: middle
    @media screen and (max-width: 375px)
        max-width: 13.6875em