*
    box-sizing: border-box

html
    @media screen and (max-width: 940px)
        font-size: 14px
    @media screen and (max-width: 375px)
        font-size: 12px
    @media screen and (orientation: landscape) and (max-width: 700px)
        font-size: 12px
    @media screen and (orientation: landscape) and (max-width: 600px)
        font-size: 10px

.page
    font: 1em / 1.25em fontBase // 16px / 20px
    color: baseFontColor

.sect
    position: relative

.container
    width: 95%
    max-width: 58.75em // 940px
    margin: 0 auto

for $n in (1..6)
    h{$n}
        margin: 0
        font: 1em / 1 fontSectTitle

ul,li
    padding: 0
    margin: 0
    list-style: none

p
    margin: 0

a
    text-decoration: none
    color: baseFontColor 

img
    display: inline-block