*
    box-sizing: border-box

.page
    font: 16px / 20px fontBase
    color: baseFontColor

.sect
    position: relative

.container
    width: 98%
    max-width: 940px;
    margin: 0 auto

for $n in (1..6)
    h{$n}
        margin: 0
        font: 100% / 1 fontSectTitle

ul,li
    padding: 0
    margin: 0
    list-style: none

p
    margin: 0

a
    text-decoration: none
    color: baseFontColor 

img
    display: inline-block