*
    box-sizing: border-box

.page
    font: 16px / 20px fontLight
    color: baseFontColor

.sect
    position: relative

.container
    width: 95%
    max-width: 1006px;
    margin: 0 auto

for $n in (1..6)
    h{$n}
        margin: 0
        font: 100% / 1 fontBold

ul,li
    padding: 0
    margin: 0
    list-style: none

p
    margin: 0

a
    text-decoration: none
    color: baseFontColor 

img
    display: inline-block