.hero
    background-color: primaryGrey
.hero__main
    display: table
    height: 100vh
.hero__title
    display: table-cell
    vertical-align: middle  
    font: 6.25em / 1.2em mainTitle //100px / 120px
    letter-spacing: -.04em //-4px
    word-spacing: .18em //18px
    @media screen and (max-width: 800px)
        font-size: 5.25em


.feat
    padding: .9375em 0 //15px 
.feat__row
    clearfix()
    .feat__col
        &:not(:last-child)
            margin-right: 1.25em //20px
.feat__col
    float: left
    max-width: 18.75em // 300px
    padding-bottom: 4.5em // 72px
    &::before
        display: block
        height: .125em // 2px
        background-color: primaryBlack    
        content: ''
    @media screen and (max-width: 800px)
        max-width: 16.75em
.feat__title
    margin-bottom: .875em // 14px



.port__title
    borderTop()



.posts__title
    borderTop()
.posts__row
    clearfix()
    .posts__col
        &:not(:last-child)
            margin-right: 1.25em //20px
            @media screen and (max-width: 800px)
                margin-right: 0
        &:nth-child(odd)
            @media screen and (max-width: 800px)
                padding-right: 1em
.posts__col 
    float: left
    max-width 13.75em // 220px
    padding-bottom: 4.5em // 72px
    h3
        margin-bottom: .94444444em //17px
        font-size: 1.125em // 18px
        line-height: 1.11111111em // 20px
        text-transform: uppercase
        &::after
            display: block
            height: .11111111em // 2px
            margin-top: .55555556em // 10px 
            background-color: primaryBlack    
            content: ''
    @media screen and (max-width: 800px)
        max-width: 50%
        padding-bottom: 0
        margin-bottom: 4.5em
.posts__cont
    margin-bottom: 1.11111111em // 20px
.posts__more
    font-family: fontBaseBold



.footer__rows
    padding-top: 2.25em // 36px
    border-top: .25em solid primaryBlack // 4px
.footer__row
    clearfix()
    .footer__col
        &:not(:last-child)
            margin-right: 1.25em //20px
            @media screen and (max-width: 800px)
                margin-right: 0
        
.footer__col
    float: left
    max-width: 18.75em // 300px
    padding-bottom: 2.25em // 36px
    h3
        margin-bottom: .94444444em //17px
        font-size: 1.125em // 18px
        word-spacing: .05555556em // 1px
        text-transform: uppercase
    @media screen and (max-width: 800px)
        max-width: 50%
        padding-bottom: 0
        margin-bottom: 1.5em
.footer__social
    max-width 8.4375em // 135px
    padding-top: 1.0625em // 17px
    li
        display: inline-block
        width: 1.875em // 30px
        vertical-align: middle
    a
        display: inline-block
    img 
        max-width 100%
.footer__news
    @media screen and (max-width: 800px)
        max-width 100%
    