footer.copy
    .copy__row
        .copy__col.copy__left
            | 2012 ThemeTrunk. All Rights Reserved. Powered by WordPress.
        .copy__col.copy__right
            | A ThemeTrunk Production  <span>/  BestPSDFreebies.com  /  YasTech.ca</span>