header
    .header__row
        .header__left
            h2.logo 
                a(href="javascript:void(0);") Bold.
        .header__right
            .header__search
                input(type="text", name="search", id="search")
                img(src="images/content/hero/glass.png", alt="glass pic")
    include ../modules/_navigator