nav.nav
    ul.nav__list
        li  
            a(href="javascript:void(0);") Home
        li  
            a(href="javascript:void(0);") About
        li  
            a(href="javascript:void(0);") Blog
        li  
            a(href="javascript:void(0);") Portfolio
        li  
            a(href="javascript:void(0);") Contact