nav.nav
    
    a(href="javascript:void(0);").nav__open.nav__open_type_mobile Menu
    a(href="javascript:void(0);").nav__close.nav__close_type_mobile.is-collapsed Close

    .nav__wrap
        ul.nav__list
            li  
                a(href="javascript:void(0);") Home
            li  
                a(href="javascript:void(0);") About
            li  
                a(href="javascript:void(0);") Blog
            li  
                a(href="javascript:void(0);") Portfolio
            li  
                a(href="javascript:void(0);") Contact 