.btn__submit
    fontButton = novecentosansbold
    height: 2em // 32px
    padding: 0 1.125em // 0 18px
    background-color: primaryGrey
    border: none
    cursor: pointer
    span 
        font: 1em / 1 fontButton // 16px / 16px
        text-transform: uppercase
        color: #fff