.btn__menu
    buttonReset()
    position relative
    float right
    width 28px
    cursor pointer
    outline none
    span 
        display block
        width 100%
        height 4px 
        background-color primaryBlack
        transition all .3s
        &:not(:last-child)
            margin-bottom 4px
    &.btn__menu_state_active
        z-index 99999
        span 
            background-color #fff
            &:nth-child(1)
                transform: rotate(45deg) translate(4px, 5px)
            &:nth-child(2)
                visibility hidden
                transition all 0s
            &:nth-child(3)
                transform: rotate(-45deg) translate(6px,-7px)
.btn__submit
    fontButton = novecentosansbold
    height: 2em // 32px
    padding: 0 1.125em // 0 18px
    background-color: primaryGrey
    border: none
    cursor: pointer
    span 
        font: 1em / 1 fontButton // 16px / 16px
        text-transform: uppercase
        color: #fff