.btn__submit
    fontButton = novecentosansbold
    height: 32px
    padding: 0 18px
    border: none
    cursor: pointer
    span 
        font: 16px / 16px fontButton
        text-transform: uppercase
        color: #fff