.sect__title
    padding-top: 15px
    margin-bottom: 34px
    font: 30px / 1 fontSectTitle
    text-transform: uppercase
    &::after
        display: block
        width: 23px
        height: 4px
        margin-top: 14px
        background-color: primaryGrey
        content: ''
    span 
        font-family: fontSectTitleOther