.sect__title
    padding-top: .5em // 15px
    margin-bottom: 1.1333333em // 34px
    font: 1.875em / 1 fontSectTitle // 30px
    text-transform: uppercase
    &::after
        display: block
        width: .76666667em //23px
        height: .1333333em //4px
        margin-top: .46666667em //14px
        background-color: primaryGrey
        content: ''
    span 
        font-family: fontSectTitleOther